body {
  margin : 0 auto;
}
.weather  {
  display: flex
}
.temperatur {
  color: red;
}
#degrees {
    color: black;
}
.icon {
  position: middle;

}
.ville  {
  position:  middle;
}
.hour {
 display:flex;
 justify-content: center;
 align-content: flex-end;
}