body {
  color: rgb(255, 255, 255);
  margin: 0px;
  background: no-repeat center/100% url("/fond d'écran momentum/wallpaper.jpg") ;
  height:100vh;
  display:flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.weather  {
  position: relative;
  left: -35vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.temperatur {
  display:flex;
  color: red
}
#degrees {
    color: rgb(255, 255, 255);
}
.icon {
  position: middle;
  color: rgb(255, 255, 255);
}
.ville  {
  position:  middle;
}
.date {
  display:flex;
}
.date :nth-child(-n+3)  {
  margin-right: .2em;
}
.date div {font-size: 2em;}
.hour {
 display:flex;
 flex-direction: row;
 justify-content: center;
}
.hour :nth-child(-n+3)  {
  margin-right: .3em;
}
.hour div {font-size: 5em;}
.search {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.search {font-size: 4em;}
.historic {
  display: flex;
}
.historic div {font-size: 1em;}
.historic:nth-child(-n+3) {
  margin-right: .2em;
}